*{
   padding: 0;
   background-color: bisque;
   box-sizing: border-box;
   width: 100%;
}

/*lisa-main page*/ 

.main-frame {
  width: 100%;
  border: 1px red solid;
}

.logo-title-p {
  border: 1px blue solid;
  display: flex;
  flex-direction: row;
}

.logo-box {
  border: 1px blue solid;
  width: 30%;
  
}

/*lisa-title-box*/
.title-box {
  border: 1px rgb(24, 24, 160) solid;
  width: 70%;
  
}

.main-footer {
  border: 1px rgb(24, 24, 160) solid;
}





































/*lisa-start*/ 
.kor-body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.kor-background-size {
  width: 100vw;
}

/*lisa-line1*/
.icon-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2%;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 1.5em;
  text-align: center;
}
.fa-solid {
  color: rgb(192, 132, 122);
}


/*lisa-separation-line*/
.kor-separation-line1 {
  margin-bottom: 16px;
  width: 85%;
  margin-top: 12px;
  margin-bottom: 16px;
}

/*lisa-line2*/
.line2 {
  text-align: center;
}


/*lisa-line3*/
.line3 {
  font-size: x-large;
  margin-bottom: 2%;
  text-align: center;
}

/*lisa-line4*/
.line4 {
  display: flex;
  justify-content: center;
}
.line4-img {
  width: 60%;
  object-fit: cover;
}


/*lisa-line5*/
.line5 {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 3%;
margin-bottom: 3%;
}

.line-5-name {
  width: 30%;
}

.line-5-time {
  width: 30%;
}

/*lisa-line6-table*/
.line6 {
  width: 60%;
  margin-bottom: 20px;
}

#kor-table {
  color: darkslateblue ;
  border: darkmagenta
}

#kor-table {
  table-layout:fixed;
  word-wrap: break-word;
}


/*lisa-lisa-button*/
.kor-btn1 {
  width: 60%;
}

.kor-button {
  margin-bottom: 120px;
}

#kor-button-inside {
  width: 20%; 
  margin-left: 40%;
}

/*lisa-media-query*/
@media screen and (max-width: 800px) {
.recipe_title {
font-weight: 600;
}

.line3 {
font-size: large;
}


.line5 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line-5-name {
  width: 100%;
  margin-bottom: 5%;
  border-bottom-color: aqua;
  display: none;
}

.line-5-time {
  width: 100%;
}

.kor-separation-line2 {
  display: block;
}

.icon-box {
  font-size: 1.2em;
  opacity: 0.5;
}

/*테이블 글자가 위로 늘어나지않게*/
.table-min-width {
  min-width: 400px;
}



}
/*lisa-end*/ 

